/backend/env

/backend/ozfish_detector
/backend/ozfish_detector_api
/backend/requirements.txt

/frontend/node_modules
/frontend/yarn-error.log
/frontend/README.md
/FishDetectorReact/yarn.lock

/FishDetectorFrontend/node_modules/

env/
*.pyc
FishdetectorBackend/predictions
FishdetectorBackend/uploads