html {
    overflow-y: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}
  
body {
    margin: 0;
    background: #3b4151;
    font-family: "Euclid Circular A", "Poppins";
}
  
section {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;  /* Added to make contents flow vertically */
    justify-content: center;
    align-items: center;
    text-align: center;  /* Added to center text */
}
  
.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.68);
}
  
h1, h2, h3, p {  /* Common properties for h1, h2, h3, and p */
    color: white;
    text-shadow: 1px 1px 3px black;
    z-index: 1;
}

h1 {
    font-size: 3.8em;
    font-weight: 400;
    margin-top: 0;
}

h2 {
    font-size: 2.8em;
    font-weight: 400;
}

h3 {
    font-size: 1.8em;
    font-weight: 400;
}

p {
    margin-top: 2%;
    font-size: 1.3em;
    font-weight: 100;
}

.login-btn {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-btn:hover {
    background-color: #388E3C;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}
