.App {
  text-align: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.auth-form {
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 490px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.auth-form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-form-content input {
  margin: 10px;
  width: 250px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 5px;
  padding-left: 20px;
  font-size: 16px;
}

.auth-form-content button {
  margin-top: 30px;
  border-radius: 20px;
  height: 30px;
  width: 90px;
  background-color: #6a5acd;
  color: #ccc;
  font-size: 16px;
  font-weight: 600;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.auth-form-content button:hover {
  cursor: grab;
}

.card {
  width: 490px;
  height: 300px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 20px;
}

.card-content {
  margin: 20px;
  height: 245px;
  border: 3.5px dashed #6a5acd;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.card-content p {
  color: black;
}


.predicted-video {
  margin-top: 5%;
}

.card-content h {
  color: black;
  font-size: 14px;
}

.App-header {
  background-color: hsl(220, 13%, 18%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.detect-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App-link {
  color: #61dafb;
}