/* CSS that applies to all parts of the website */
#root, .main-container {
    display: flex;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
}

.mainContent {
    display: flex;
    flex: 1;
}
