/* CSS that applies to all parts of the website */

#root, .main-container {
    display: flex;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
}

.mainContent {
    display: flex;
    flex: 1;
}

/*
html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: ivory;
}

html, body, #root, canvas {
  margin: 0;
  padding: 0;
}*/